@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SuperMario";
  src: url("./font/SuperMario256.ttf");
}

main {
  @apply flex w-full flex-col items-center;
}

.text-stroke {
  color: inherit;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: black;
}

.text-stroke-width-1 {
  -webkit-text-stroke-width: 1px;
}

.text-stroke-width-2 {
  -webkit-text-stroke-width: 2px;
}

.underline-wavy {
  @apply underline decoration-wavy underline-offset-4;
}
