@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SuperMario";
  src: url("./font/SuperMario256.ttf");
}

main {
  @apply flex w-full flex-col items-center;
}

h1 {
  @apply text-stroke text-stroke-width-2 text-stroke mb-10 hidden font-mario text-3xl font-bold underline decoration-wavy decoration-2 underline-offset-4 md:block;
}

.text-stroke {
  color: inherit;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: black;
}

.text-stroke-width-1 {
  -webkit-text-stroke-width: 1px;
}

.text-stroke-width-2 {
  -webkit-text-stroke-width: 2px;
}
